@model MVCDemoApp_WGS.Models.User


@{
    ViewBag.Title = "UserForm";
}

<h2>UserForm</h2>

@using (Html.BeginForm("CheckingUser", "Home", FormMethod.Post))
{

    <span class="text-danger">@Html.ValidationSummary()</span>
    <table class="table table-striped">
        <tr>
            <td>@Html.LabelFor(u => u.UserName)</td>
            <td>
                @Html.TextBoxFor(u => u.UserName, new { @class = "form-control" })
                <span class="text-danger">@Html.ValidationMessageFor(u => u.UserName)</span>
            </td>

        </tr>
        <tr>
            <td>@Html.LabelFor(u => u.Password)</td>
            <td>
                @Html.PasswordFor(u => u.Password, new { @class = "form-control" })
                <span class="text-danger">@Html.ValidationMessageFor(u => u.Password)</span>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:center">
                <input type="submit" id="SubmitButton" class="btn btn-primary" />
            </td>
        </tr>
    </table>
}

